<h1>Editing tag relation</h1>

<%= render "form", tag_relation: @tag_relation %>

<br>

<div>
  <%= link_to "Show this tag relation", @tag_relation %> |
  <%= link_to "Back to tag relations", tag_relations_path %>
</div>
