<h1>Editing bank transaction</h1>

<%= render "form", bank_transaction: @bank_transaction %>

<br>

<div>
  <%= link_to "Show this bank transaction", @bank_transaction %> |
  <%= link_to "Back to bank transactions", bank_transactions_path %>
</div>
