<%= turbo_frame_tag 'suggest_tag' do %>
  <div class=''>
    <div class='font-bold'>
      Quick Add:
    </div>
    <div class='flex flex-wrap gap-2 text-sm'>
      <% (Tag.recent_tags - @taggable.tags.pluck(:value)).each do |tag| %>
        <%= render partial: "quick_form", locals: { taggable: @taggable, tag: Tag.new(value: tag) } %>
      <% end %>
    </div>
  </div>
<% end %>
