<h1>Editing bank transaction list</h1>

<%= render "form", bank_transaction_list: @bank_transaction_list %>

<br>

<div>
  <%= link_to "Show this bank transaction list", @bank_transaction_list %> |
  <%= link_to "Back to bank transaction lists", bank_transaction_lists_path %>
</div>
