<p style="color: green"><%= notice %></p>

<h1>Bank transaction lists</h1>

<div id="bank_transaction_lists" class='grid divide-x divide-gray-100'>
  <% @bank_transaction_lists.each do |bank_transaction_list| %>
    <div class='grid-cols-2 grid'>
      <%= render bank_transaction_list %>
      <div>
        <%= link_to "Show", bank_transaction_list %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New bank transaction list", new_bank_transaction_list_path %>
