<h1>New bank transaction list</h1>

<%= render "form", bank_transaction_list: @bank_transaction_list %>

<br>

<div>
  <%= link_to "Back to bank transaction lists", bank_transaction_lists_path %>
</div>
